body {
  font-family: sans-serif;
  max-width: 300%;
}
.container {
  border-radius: 3px;
  border: 5px solid black;
  margin: 40px 20px auto;
  padding: 20px 30px;
  background: white;
}

.search {
  margin-left: 152px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 30px;
}
h1 {
  margin-top: -20px;
}
ul {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 25px;
}
li {
  list-style: none;
}
.box {
  padding: 40px 20px;
  margin: auto;
  text-align: center;
  border-radius: 3px;
  border: 5px solid black;
  font-size: medium;
}
footer {
  text-align: center;
}

.icon {
  display: block;
  margin: 0 auto;
}

.temp {
  font-size: 50px;
}
.unit {
  color: black;
  font-size: 25px;
}

h3 {
  margin-bottom: 20px;
}

h1,
h2 {
  margin-bottom: 5px;
  font-size: 35px;
}
