body {
  font-family: monospace;
  max-width: 300%;
}
.container {
  border-radius: 3px;
  border: 3px solid black;
  margin: 40px 20px auto;
  padding: 20px 30px;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.search {
  margin-left: 152px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 30px;
}
h1 {
  margin-top: -20px;
}
p {
  font-size: 24px;
  font-weight: normal;
}

p:first-letter {
  text-transform: capitalize;
}
ul {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 25px;
}
li {
  list-style: none;
}

.row {
  display: flex;
}

.forecast-weather {
  padding: 10px 10px;
  margin: 5px;
  text-align: center;

  font-size: medium;
}
footer {
  text-align: center;
}

.icon {
  display: block;
  margin: 0 auto;
}

header {
  color: black;
}

.temp {
  font-size: 50px;
}

.unit {
  color: black;
  font-size: 25px;
}
.active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

h3 {
  margin-bottom: 20px;
}

h1,
h2 {
  margin-bottom: 5px;
  font-size: 35px;
}
.wind,
.humidity {
  width: 15px;
}
